In [1]:
# 사용할 라이브러리를 읽어들임
import pandas as pd
import numpy as np
import datetime
from datetime import datetime, date

In [2]:
# pandas 디스플레이 환경을 설정함
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 60)

In [3]:
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:90% !important;}</style>"))

In [4]:
# DataFrame 만들기
temps = pd.DataFrame({'City' : ['Missoula', 'Philadelphia'], 'Temperature' : [70, 80]})
temps

           City  Temperature
0      Missoula           70
1  Philadelphia           80

In [5]:
# 컬럼의 index를 볼 수 있음
temps.columns

Index(['City', 'Temperature'], dtype='object')

In [6]:
# 명시적으로 Int64Index를 만들기
df_i64 = pd.DataFrame(np.arange(10, 20), index = np.arange(0, 10))
df_i64[:5]

    0
0  10
1  11
2  12
3  13
4  14

In [7]:
# index 보기
df_i64.index

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [8]:
# 디폴트로 RangeIndex를 받는다
df_range = pd.DataFrame(np.arange(10, 15))
df_range[:5]

    0
0  10
1  11
2  12
3  13
4  14

In [9]:
df_range.index

RangeIndex(start=0, stop=5, step=1)

In [10]:
# Float64Index를 사용해 index 만들기
df_f64 = pd.DataFrame(np.arange(0, 1000, 5), np.arange(0.0, 100.0, 0.5))
df_f64.iloc[:5]

      0
0.0   0
0.5   5
1.0  10
1.5  15
2.0  20

In [11]:
df_f64.index

Float64Index([ 0.0,  0.5,  1.0,  1.5,  2.0,  2.5,  3.0,
               3.5,  4.0,  4.5,
              ...
              95.0, 95.5, 96.0, 96.5, 97.0, 97.5, 98.0,
              98.5, 99.0, 99.5],
             dtype='float64', length=200)

In [12]:
# IntervalIndex를 가진 DataFrame 만들기
df_interval = pd.DataFrame({'A' : [1, 2, 3, 4]}, index = pd.IntervalIndex.from_breaks([0, 0.5, 1.0, 1.5, 2.0]))
df_interval

            A
(0.0, 0.5]  1
(0.5, 1.0]  2
(1.0, 1.5]  3
(1.5, 2.0]  4

In [13]:
df_interval.index

IntervalIndex([(0.0, 0.5], (0.5, 1.0], (1.0, 1.5], (1.5, 2.0]]
              closed='right',
              dtype='interval[float64]')

In [14]:
# DatetimeIndex를 사용해 index 만들기
rng = pd.date_range('2017/5/1', periods=5, freq='H')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2017-05-01 00:00:00    1.819031
2017-05-01 01:00:00    0.192984
2017-05-01 02:00:00    0.118568
2017-05-01 03:00:00    0.133251
2017-05-01 04:00:00    0.746049
Freq: H, dtype: float64

In [15]:
ts.index

DatetimeIndex(['2017-05-01 00:00:00',
               '2017-05-01 01:00:00',
               '2017-05-01 02:00:00',
               '2017-05-01 03:00:00',
               '2017-05-01 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [16]:
# 명시적으로 PeriodIndex 만들기
periods = pd.PeriodIndex(['2017-1', '2017-2', '2017-3'], freq='M')
periods

PeriodIndex(['2017-01', '2017-02', '2017-03'], dtype='period[M]', freq='M')